.page.theme_dark {
  --page__background-image: url("../images/cover-image-dark.png");
  --page__background-color: var(--color__darkmode-dark-blue, #000028);
  --decorated-zone-color: var(--color__darkmode-pink-contrast, #FF0070);
  --color-header-menu-border-hover: var(--color__darkmode-pink-contrast-opacity, #FF007040);
  --shadow-decoration-color: var(--color__darkmode-pink-contrast, #FF0070);
  --text-color: var(--color__darkmode-pink-delicate, #F1B2CE);
  --text-title-color: var(--color__darkmode-dark-blue, #000028);
  --accent-color: var(--color__darkmode-pink-contrast, #FF0070);
  --article-main-title-color: var(--color__darkmode-pink-contrast, #FF0070);
  --page__title-color: var(--color__darkmode-purple, #DB00FF);

  --rec-decoration-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page__background-image: url("../images/cover-image-dark.png");
    --page__background-color: var(--color__darkmode-dark-blue, #000028);
    --decorated-zone-color: var(--color__darkmode-pink-contrast, #FF0070);
    --color-header-menu-border-hover: var(--color__darkmode-pink-contrast-opacity, #FF007040);
    --shadow-decoration-color: var(--color__darkmode-pink-contrast, #FF0070);
    --text-color: var(--color__darkmode-pink-delicate, #F1B2CE);
    --text-title-color: var(--color__darkmode-dark-blue, #000028);
    --accent-color: var(--color__darkmode-pink-contrast, #FF0070);
    --article-main-title-color: var(--color__darkmode-pink-contrast, #FF0070);
    --page__title-color: var(--color__darkmode-purple, #DB00FF);
  
    --rec-decoration-visibility: visible;
  }
}