.page.theme_light {
  --text-title-color: var(--color__lightmode-gray, #353430);
  --text-color: var(--color__lightmode-gray, #353430);
  --accent-color: var(--color__lightmode-pink-contrast, #FF8DCB);
  --article-main-title-color: var(--color__lightmode-gray, #353430);
  --decorated-zone-color: var(--color__lightmode-gray, #353430);
  --color-header-menu-border-hover: var(--color__lightmode-gray-opacity, #35343040);
  --shadow-decoration-color: var(--color__lightmode-pink-contrast, #FF8DCB);
  --page__background-image: url("../images/cover-image-light.png");
  --page__background-color: var(--color__lightmode-white, #FFEEF6);
  --page__title-color: var(--color__lightmode-pink-delicate, #FFC2E6);
  
  --rec-decoration-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-title-color: var(--color__lightmode-gray, #353430);
    --text-color: var(--color__lightmode-gray, #353430);
    --accent-color: var(--color__lightmode-pink-contrast, #FF8DCB);
    --article-main-title-color: var(--color__lightmode-gray, #353430);
    --decorated-zone-color: var(--color__lightmode-gray, #353430);
    --color-header-menu-border-hover: var(--color__lightmode-gray-opacity, #35343040);
    --shadow-decoration-color: var(--color__lightmode-pink-contrast, #FF8DCB);
    --page__background-image: url("../images/cover-image-light.png");
    --page__background-color: var(--color__lightmode-white, #FFEEF6);
    --page__title-color: var(--color__lightmode-pink-delicate, #FFC2E6);
    
    --rec-decoration-visibility: hidden;
  }
}