.page.theme_light {
  --text-title-color: var(--color-grey, #353430);
  --text-color: var(--color-grey, #353430);
  --accent-color: var(--color-pink-4, #FF8DCB);
  --article-main-title-color: var(--color-grey, #353430);
  --decorated-zone-color: var(--color-grey, #353430);
  --color-header-menu-border-hover: var(--color-grey-2, #35343040);
  --shadow-decoration-color: var(--color-pink-4, #FF8DCB);
  --page__title-color: var(--color-purple-1, #DB00FF);
  --page__background-image: url("../images/cover-image-light.png");
  --page__background-color: var(--color-white, #FFEEF6);
  --page__title-color: var(--color-pink-5, #FFC2E6);
  
  --rec-decoration-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-title-color: var(--color-grey, #353430);
    --text-color: var(--color-grey, #353430);
    --accent-color: var(--color-pink-4, #FF8DCB);
    --article-main-title-color: var(--color-grey, #353430);
    --decorated-zone-color: var(--color-grey, #353430);
    --color-header-menu-border-hover: var(--color-grey-2, #35343040);
    --shadow-decoration-color: var(--color-pink-4, #FF8DCB);
    --page__title-color: var(--color-purple-1, #DB00FF);
    --page__background-image: url("../images/cover-image-light.png");
    --page__background-color: var(--color-white, #FFEEF6);
    --page__title-color: var(--color-pink-5, #FFC2E6);

    --rec-decoration-visibility: hidden;
  }
}

:root.theme-light {
  --light__theme-accent-color: #353430;
  --light__theme__page__title-color: #FFC2E6;
  --light__theme_page_background-image: url(../images/cover-image-light.png);
  --light-theme__background-color: #FFEEF6;
  --light-theme__main-accent-color: #FF8DCB;
}

@media (prefers-color-scheme: light) {
  :root {
    --light__theme-accent-color: #353430;
    --light__theme__page__title-color: #FFC2E6;
    --light__theme_page_background-image: url(../images/cover-image-light.png);
    --light-theme__background-color: #FFEEF6;
    --light-theme__main-accent-color: #FF8DCB;
  }
}