/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--dark-theme-background-color);
  background-image: var(  --dark__theme_page_background-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow-decoration {
  text-shadow: 4px 4px 0 var(--accent-color);
}
